.example-container {
  min-width: 85%;
  overflow-x: auto;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table-des {
  height: 400px;
  overflow: auto;
  border-collapse: collapse;
}

.mat-grid-tile {
  border: solid 2px black;

}

.mat-row-des:hover {
  background-color: lightblue;
  cursor: pointer;
}

.internalMatGrid {
  min-width: 100%;
  background-color: lightblue;
}

.table-view-inner-grid {
    border: solid 2px violet;
    min-width: 100%;

}

