.example-container {

  min-width: 85%
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 1000px;
}

.mat-grid-tile {
  border: solid 2px black;

}

.internalMatGrid {
  min-width: 100%;
  background-color: lightblue;
}

.table-view-inner-grid {
    border: solid 2px violet;
    min-width: 100%;

}


#tags-name {

}

