<h1>Create Credential</h1>

<div>
  <form #createCredForm="ngForm">
    <div>
      <mat-form-field class="field">
        <mat-label>Title</mat-label>
        <input matInput ngModel required name="title" placeholder="Title">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="field">
        <mat-label>Username</mat-label>
        <input matInput ngModel required name="username">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="field">
        <mat-label>Password</mat-label>
        <input matInput ngModel required [type]="hide ? 'password' : 'text'" ngModel name="password">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="field">
        <mat-label>URL</mat-label>
        <input matInput required ngModel name="url">
      </mat-form-field>
    </div>
    <mat-form-field class="field" appearance="fill">
      <mat-label>Tags</mat-label>
      <mat-chip-grid #chipGrid>
        <mat-chip-row 
          *ngFor="let tag of currTags" 
          (removed)="removeTag(tag)" 
          [editable]="false">
          {{tag}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      </mat-chip-grid>
      <input name="tag" placeholder="New Tag..." #tagInput [formControl]="tagCtrl"
        [matChipInputFor]="chipGrid" [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="seperatorKeyCodes" 
        [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addTag($event)"/>
        
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
          {{tag}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div>
      <button type="submit" (click)="save(createCredForm)">Save</button>
      <button (click)="cancel()">Cancel</button>
    </div>
  </form>
  <div *ngIf='loading'>
    <mat-spinner></mat-spinner>
  </div>


</div>

